.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  background-color: black;
}

.row {
  display: flex;
  flex-direction: row;
}

.leftPane {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #262626;
}

.textField {
  display: flex;
  margin: 20px 20px 0px 20px;
  justify-content: center;
  color: #000;
}

.currentValue {
  opacity: 0.5;
  margin-top: -4px;
  margin-right: 18px;
  width: 62px;
  font-size: medium;
  font-weight: 500;
  color: white;
  text-align: cen